<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trang Chủ</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link href="@Url.Content("~/Content/custom.css")" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="bannerCarousel" class="carousel slide w-100" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#bannerCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="https://www.facebook.com/VanHanhMall/posts/pfbid0De6Yi39Yo2GSREqhhgu82bt5K46ye9UcwxKNQ2rxVALCBcqkcgVCsoKLeib6KyM6l">
                    <img src="~/Images/banner1.png" class="d-block w-100" alt="Banner 1">
                </a>
            </div>
            <div class="carousel-item">
                <a href="https://www.facebook.com/VanHanhMall/posts/pfbid05omxiQrbBaE2MBmW8RSWttEJkghnpJoarTnAmNwpr5jJucD93QFp5XQwce7Ytt3nl">
                    <img src="~/Images/banner2.jpg" class="d-block w-100" alt="Banner 2">
                </a>
            </div>
            <div class="carousel-item">
                <a href="https://www.facebook.com/photo/?fbid=503684802035304&set=a.264773669259753">
                    <img src="~/Images/banner3.png" class="d-block w-100" alt="Banner 3">
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <main>
        <div class="highlight-container">
            <div class="left-div"></div>
            <h3 style="color: #FBA2D0;">TIÊU ĐIỂM</h3>
            <div class="right-div"></div>
        </div>

        @*<div class="event-list">
            @foreach (var item in Model)
            {
                <div class="event-item">
                    <h3>@Html.DisplayFor(modelItem => item.EventName)</h3>
                    <p><strong>Mô tả:</strong> @Html.DisplayFor(modelItem => item.Description)</p>
                    <p><strong>Ngày bắt đầu:</strong> @Html.DisplayFor(modelItem => item.StartDate)</p>
                    <p><strong>Ngày kết thúc:</strong> @Html.DisplayFor(modelItem => item.EndDate)</p>

                    @if (!string.IsNullOrEmpty(item.Image))
                    {
                        <img src="@Url.Content("~/Images/" + item.Image)" alt="@item.EventName" style="width:200px;height:150px;" />
                    }
                </div>
                <hr />
            }
        </div>*@
    </main>
</body>
</html>
