@using PagedList.Mvc
@model  PagedList.PagedList<Mall_Management.Models.Brand>

@{
    ViewBag.Title = "Danh sách thương hiệu";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    <link href="~/Content/AdminCSS/PagedList.css" rel="stylesheet" />

}
<!--begin::container-fluid-->
<div class="d-flex flex-column-fluid">
    <div class="container  ">
        <div class="card">
            <!--begin::Card header-->
            <div class="card-header border-0 pt-6">
                <!--begin::Card title-->
                <div class="card-title">
                </div>
                <!--begin::Card title-->
                <!--begin::Card toolbar-->
                <div class="card-toolbar">
                    <!--begin::Toolbar-->
                    <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                        <!--begin::Add Game Account-->
                        <button type="button" class="btn btn-primary" id="create__open" onclick="createOpen()">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                            <span class="svg-icon svg-icon-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"></rect>
                                    <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"></rect>
                                </svg>
                            </span>
                            <!--end::Svg Icon-->Thêm mới
                        </button>
                        <!--end::Add Game Account-->
                    </div>
                    <!--end::Toolbar-->
                </div>
                <!--end::Card toolbar-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body py-4">
                <!--begin::Table-->
                <div id="kt_table_users_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="table-responsive">
                        <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="list-product">
                            <!--begin::Table head-->
                            <thead>
                                <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0" style="height:115px">
                                    <th class="min-w-50px">ID</th>
                                    <th class="min-w-150px">Tên thương hiệu</th>
                                    <th class="min-w-125px">Hình ảnh</th>
                                    <th class="min-w-125px">Tầng</th>
                                    <th class="min-w-125px">Danh mục</th> <!-- Thêm cột Danh mục -->
                                    <th class="min-w-125px">Mô tả</th>
                                    <th class="min-w-125px">Url</th>
                                    <th class="text-end min-w-100px">Hành động</th>
                                </tr>
                            </thead>
                            <!--end::Table head-->
                            <!--begin::Table body-->

                            @functions {
                                public string Truncate(string text, int maxLength)
                                {
                                    if (string.IsNullOrEmpty(text)) return text;

                                    return text.Length > maxLength ? text.Substring(0, maxLength) + "..." : text;
                                }
                            }

                            <tbody class="text-gray-600 fw-bold h-100">
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr class="odd row-height" id="item_@item.BrandID">
                                            <td>@item.BrandID</td>
                                            <td>@item.BrandName</td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(item.Image))
                                                {
                                                    <img src="@Url.Content(item.Image)" alt="Brand Image" style="width: 100px; height: auto;" />
                                                }
                                                else
                                                {
                                                    <span>No image available</span>
                                                }
                                            </td>
                                            <td>@item.Floor</td>

                                            <!-- Hiển thị tên Danh mục -->
                                            <td>@item.Category?.CategoryName</td>

                                            <td>@Truncate(item.Description, 50)</td>
                                            <td>@item.Url</td>
                                            <td class="text-end">
                                                <div class="dropdown">
                                                    <a href="#" class="btn btn-light btn-active-light-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown">
                                                        Hành động
                                                        <span class="svg-icon svg-icon-5 m-0">
                                                            <!-- SVG icon content here -->
                                                        </span>
                                                    </a>

                                                    <ul class="dropdown-menu dropdown-menu-end">
                                                        <li>
                                                            <a href="#" onclick="editOpen('@item.BrandID', '@item.BrandName', '@item.Image', '@item.Floor', '@item.Description', '@item.Url')" class="dropdown-item">Chỉnh sửa</a>
                                                        </li>
                                                        <li>
                                                            <a href="#" onclick="deleteOpen('@item.BrandID', '@item.BrandName')" class="dropdown-item">Xóa</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>

                            <!--end::Table body-->
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                        </div>
                        <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                        </div>
                    </div>
                </div>
                <!--end::Table-->
            </div>
            <!--end::Card body-->
        </div>
    </div>
</div>
<!--begin::Modal - Create-->
<div class="modal fade" id="createBrandModal" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content rounded">
            <!--begin::Modal header-->
            <div class="modal-header pb-0 border-0 justify-content-end">
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary dimis-modal" data-bs-dismiss="modal">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Close-->
            </div>
            <!--begin::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                <!--begin:Form-->
                <form id="kt_modal_new_brand_form" action="/Brand/Create" method="post" enctype="multipart/form-data">
                    <!--begin::Heading-->
                    <div class="mb-13 text-center">
                        <!--begin::Title-->
                        <h1>Thêm mới thương hiệu</h1>
                        <!--end::Title-->
                    </div>
                    <!--end::Heading-->
                    <!--begin::Input group: Brand Name-->
                    <div class="d-flex flex-column mb-8 fv-row">
                        <!--begin::Label-->
                        <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                            <span class="required">Tên thương hiệu</span>
                        </label>
                        <!--end::Label-->
                        <input type="text" id="brandName" name="brandName" class="form-control form-control-solid" placeholder="Nhập tên thương hiệu" required>
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group: Image-->
                    @using (Html.BeginForm("UploadImage", "Brand", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="d-flex flex-column mb-8 fv-row">
                            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                <span>Ảnh thương hiệu (Chọn ảnh)</span>
                            </label>
                            <input type="file" id="image" name="image" class="form-control form-control-solid" accept="image/*">
                        </div>
                    }
                    <!--end::Input group-->
                    <!--begin::Input group: Category-->
                    <!--<div class="d-flex flex-column mb-8 fv-row">-->
                        <!--begin::Label-->
                        <!--<label class="d-flex align-items-center fs-6 fw-bold mb-2">
                            <span>Danh mục</span>
                        </label>-->
                        <!--end::Label-->
                        <!--<select id="categoryID" name="categoryID" class="form-select form-control-solid" required>
                            <option value="">Chọn danh mục</option>
                        </select>
                    </div>-->
                    <!--end::Input group-->
                    <!--begin::Input group: Floor-->
                    <div class="d-flex flex-column mb-8 fv-row">
                        <!--begin::Label-->
                        <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                            <span>Tầng</span>
                        </label>
                        <!--end::Label-->
                        <input type="text" id="floor" name="floor" class="form-control form-control-solid" placeholder="Nhập Tầng">
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group: Description-->
                    <div class="d-flex flex-column mb-8 fv-row">
                        <!--begin::Label-->
                        <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                            <span>Mô tả thương hiệu</span>
                        </label>
                        <!--end::Label-->
                        <textarea id="description" name="description" class="form-control form-control-solid" rows="3" placeholder="Nhập mô tả thương hiệu"></textarea>
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group: URL-->
                    <div class="d-flex flex-column mb-8 fv-row">
                        <!--begin::Label-->
                        <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                            <span>Đường dẫn URL</span>
                        </label>
                        <!--end::Label-->
                        <input type="url" id="url" name="url" class="form-control form-control-solid" placeholder="Nhập URL" pattern="https?://.+">
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                    <!--end::Input group-->
                    <!--begin::Actions-->
                    <div class="text-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="button" id="create__save" class="btn btn-primary" value="Upload" onclick="saveCreate()">Lưu</button>
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end:Form-->

            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
<!--end::Modal - Create-->
<!-- Modal for Edit Brand -->
<div class="modal fade" id="editBrandModal" tabindex="-1" aria-labelledby="editBrandModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editBrandModalLabel">Chỉnh sửa thương hiệu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editBrandForm">
                    <input type="hidden" id="editBrandID" name="BrandID">
                    <div class="mb-3">
                        <label for="editBrandName" class="form-label">Tên thương hiệu</label>
                        <input type="text" class="form-control" id="editBrandName" name="BrandName">
                    </div>
                    @using (Html.BeginForm("UploadImage", "Brand", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="d-flex flex-column mb-8 fv-row">
                            <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                <span>Ảnh thương hiệu (Chọn ảnh)</span>
                            </label>
                            <input type="file" id="image" name="image" class="form-control form-control-solid" accept="image/*">
                        </div>
                    }
                    <div class="mb-3">
                        <label for="editBrandFloor" class="form-label">Tầng</label>
                        <input type="text" class="form-control" id="editBrandFloor" name="Floor">
                    </div>
                    <div class="mb-3">
                        <label for="editBrandDescription" class="form-label">Mô tả</label>
                        <textarea class="form-control" id="editBrandDescription" name="Description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="editBrandUrl" class="form-label">URL</label>
                        <input type="url" class="form-control" id="editBrandUrl" name="Url">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" id="edit__save" class="btn btn-primary" onclick="saveEdit()">Lưu thay đổi</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Delete Brand -->
<div class="modal fade" id="deleteBrandModal" tabindex="-1" aria-labelledby="deleteBrandModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteBrandModalLabel">Xóa thương hiệu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa thương hiệu <span id="deleteBrandName"></span> không?
                <input type="hidden" id="deleteBrandID" name="BrandID">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" id="delete__save" class="btn btn-danger" onclick="confirmDelete()">Xóa</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/AdminJs/brands.js"></script>
}

