@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Login.css" rel="stylesheet" />
</head>
<body>
    <div class="login-container">
        @using (Html.BeginForm("DangNhap", "Account", FormMethod.Post, new { @class = "Login-form" }))
        {
            @Html.AntiForgeryToken()
            <h2>Đăng Nhập</h2>

            <!-- Validation Summary -->
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <!-- Username or Email -->
            <div class="input">
                @Html.TextBox("UsernameOrEmail", null, new { placeholder = "Tên đăng nhập hoặc Email", @class = "form-control" })
                @Html.Label("UsernameOrEmail", "Tên đăng nhập hoặc Email", new { @class = "form-label" })
            </div>

            <!-- Password -->
            <div class="input">
                @Html.Password("Password", null, new { placeholder = "Mật khẩu", @class = "form-control" })
                @Html.Label("Password", "Mật khẩu", new { @class = "form-label" })
            </div>

            <!-- Submit Button -->
            <button class="login" type="submit">Đăng Nhập</button>
        }
        <a href="#" class="forgot-password">Quên mật khẩu</a>
        <div class="line-with-text">
            <span class="line-text">Hoặc</span>
        </div>
        <div class="fb-gg-btn">
            <button class="fb-btn">
                <div class="chua-fb">
                    <div class="fb">
                        <img src="~/Images/icon-fb.png" alt="Facebook Logo">
                    </div>
                </div>
            </button>
            <button class="gg-btn">
                <div class="chua-gg">
                    <div class="gg">
                        <img src="~/Images/icon-gg.png" alt="Google Logo">
                    </div>
                </div>
            </button>
        </div>
        <div class="dangki">
            <div class="textbt">
                Bạn chưa có tài khoản?
                <div class="link">
                    <a href="@Url.Action("DangKy", "Home")">Đăng Ký</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>