@model Mall_Management.Models.Account

@{
    ViewBag.Title = "Đăng Ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Đăng Ký</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link href="@Url.Content("~/Content/custom.css")" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/Register.css")" rel="stylesheet" />
</head>
<body>
    <div class="Dangky-container">
        @using (Html.BeginForm("DangKy", "Account", FormMethod.Post, new { @class = "Dangky-form" }))
        {
            @Html.AntiForgeryToken()
            <h2>Đăng Ký</h2>

            <!-- Username -->
            <div class="input">
                @Html.TextBoxFor(m => m.Username, new { placeholder = "Họ và Tên", @class = "form-control" })
                @Html.LabelFor(m => m.Username, "Họ và Tên", new { @class = "form-label" })
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            </div>

            <!-- Email -->
            <div class="input">
                @Html.TextBoxFor(m => m.Email, new { placeholder = "Địa chỉ email", @class = "form-control" })
                @Html.LabelFor(m => m.Email, "Địa chỉ email", new { @class = "form-label" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

            <!-- Phone -->
            <div class="input">
                @Html.TextBoxFor(m => m.Phone, new { placeholder = "Số Điện Thoại", @class = "form-control" })
                @Html.LabelFor(m => m.Phone, "Số Điện Thoại", new { @class = "form-label" })
                @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
            </div>

            <!-- Password -->
            <div class="input">
                @Html.PasswordFor(m => m.Password, new { placeholder = "Mật Khẩu", @class = "form-control" })
                @Html.LabelFor(m => m.Password, "Mật Khẩu", new { @class = "form-label" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <!-- Confirm Password -->
            <div class="input">
                @Html.PasswordFor(m => m.CFPassword, new { placeholder = "Xác Nhận Mật Khẩu", @class = "form-control" })
                @Html.LabelFor(m => m.CFPassword, "Xác Nhận Mật Khẩu", new { @class = "form-label" })
                @Html.ValidationMessageFor(m => m.CFPassword, "", new { @class = "text-danger" })
            </div>

            <button class="signup" type="submit">Đăng Ký</button>
        }
    </div>
</body>
</html>
